<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GooglTranslateEffectButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A2B23561D7D63C4006AFAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A2B236F1D7D63C4006AFAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A2B237A1D7D63C4006AFAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
